body {
    margin: 0%;
    padding: 0px;
    background-color: rgb(85, 85, 95);
}

.heading {
    text-align: center;
    color: #fff;
    font-weight: 800;
}

label {
    color: #fff;
    font-size: medium;
    font-weight: 400;
}